
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1c1c1e;
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.activate{
  background-color: rgba(154, 201, 201, 0.655);
  color:#f4f4f4;
  padding: 10px;
  width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.warning{
  width: 400px;
  border: #f3e40cd7 solid;
  height: 150px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.199);
}

.confirm{
  padding: 5px;
  background-color: rgba(24, 179, 24, 0.772);
  color:aliceblue;
}

.cancel{
  padding: 5px;
  background-color: red;
  color:aliceblue;
}

